<h1 class="header__heading"><a href="/Travel_website/index.html">TravelTime</a></h1>
<nav class="header__nav" id="navmenu">
    <ul class="header__nav-list">
        <li class="header__nav-item"><a href="/Travel_website/index.html">Home</a></li>
        <li class="header__nav-item"><a href="/Travel_website/about.html">About</a></li>
        <li class="header__nav-item"><a href="/Travel_website/destinations.html">Destinations</a></li>
        <li class="header__nav-item"><a href="/Travel_website/tours.html">Tours</a></li>
        <li class="header__nav-item"><a href="/Travel_website/gallery.html">Gallery</a></li>
        <li class="header__nav-item"><a href="/Travel_website/blog.html">Blog</a></li>
        <li class="header__nav-item dropdown">
            <div class="header__dropdown-menu">More Pages
                <svg class="dropdown-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16"
                    fill="currentColor">
                    <path
                        d="M11.9997 15.1709L5.63574 8.80688L7.04996 7.39267L11.9997 12.3424L16.9495 7.39267L18.3637 8.80688L11.9997 15.1709Z">
                    </path>
                </svg>
            </div>
            <ul class="header__dropdown-list">
                <li><a href="/Travel_website/destination-details.html">Destination Details</a></li>
                <li><a href="/Travel_website/tour-details.html">Tour Details</a></li>
                <li><a href="/Travel_website/booking.html">Booking</a></li>
                <li><a href="/Travel_website/testimonials.html">Testimonials</a></li>
                <li><a href="/Travel_website/faq.html">Frequently Asked Questions</a></li>
                <li><a href="/Travel_website/blog-details.html">Blog Details</a></li>
                <li><a href="/Travel_website/terms.html">Terms</a></li>
                <li><a href="/Travel_website/privacy.html">Privacy</a></li>
                <li><a href="/Travel_website/404.html">404</a></li>
            </ul>
        </li>
        <li class="header__nav-item"><a href="/Travel_website/contact.html">Contact</a></li>
        <li class="header__nav-item" id="cross-sign"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                fill="currentColor">
                <path
                    d="M11.9997 10.5865L16.9495 5.63672L18.3637 7.05093L13.4139 12.0007L18.3637 16.9504L16.9495 18.3646L11.9997 13.4149L7.04996 18.3646L5.63574 16.9504L10.5855 12.0007L5.63574 7.05093L7.04996 5.63672L11.9997 10.5865Z">
                </path>
            </svg></li>
    </ul>
</nav>
<div class="nav-icons">
    <div class="header__CTA-btn">
        <a href="/Travel_website/index.html">Get Started</a>
    </div>
    <svg class="header__hamberger-menu__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
        fill="currentColor">
        <path d="M3 4H21V6H3V4ZM3 11H21V13H3V11ZM3 18H21V20H3V18Z"></path>
    </svg>
</div>